<h3>Credits</h3>
<p>
    <small>All resources are provided as is.</small><br/>
    <small>Privacy matters to us, which is why we use <b>zero</b> tracking or analytics of any kind on our site.</small><br/>
    <small>Logo is an icon from the Twemoji collection of icons. Find them all <a href="https://twemoji.twitter.com/" target="_blank" title="Opens in a new window">here</a></small><br/>
    <small>This site was made using <a href="https://www.11ty.dev/" target="_blank" title="Opens in a new window">11ty</a> by <a href="https://twitter.com/zachleat" target="_blank">Zach Leatherman</a></small><br/>
    <small>The site is based off of the 11ty template <a href="https://once-eleventy.netlify.app/" target="_blank" title="Opens in a new window">Once</a>, you can find the GitHub repo <a href="https://github.com/jalediazb/once" target="_blank" title="Opens in a new window">here.</a></small><br/>
    <small><code>&lt;speedlify-score></code> is used to check pagespeed, SEO, a11y, and best practices. GitHub repo can be found <a href="https://github.com/zachleat/speedlify-score" target="_blank" title="Opens in a new window">here.</a></small><br/>
</p>