<footer class="section has-background-dark has-text-white">
  <div class="container">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <p class="has-text-centered-mobile">
            <!--<span class="has-text-weight-bold has-text-light has-text-grey-light">{{ config.title }}</span>-->
            {# if config.footerLinks.length > 0%}
              <span class="mr-5 is-hidden-mobile"></span>
              <br class="is-hidden-desktop">
              {% set guion = joiner('-') %}
              {% for item in config.footerLinks %}
                {{ guion() }} <a class="has-text-white" href="{{ item.url }}">{{ item.anchor }}</a>
              {% endfor %}
            {% endif #}
            <button class="btn-link" id="resourceUpdate">See an issue or a resource that needs updating? Let us know here!</button>
          </p>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <p class="footer-social-icons">
            {% if config.social.facebook.length > 0 %}
              <span><a href="{{ config.social.facebook }}" rel="nofollow noreferrer" target="_blank" aria-label="facebook profile link"><span class="icon">{% facebookLightIcon %}</span></a></span>
            {% endif %}
            {% if config.social.twitter.length > 0 %}
              <span><a href="{{ config.social.twitter }}" rel="nofollow noreferrer" target="_blank" aria-label="twitter profile link"><span class="icon">{% twitterLightIcon %}</span></a></span>
            {% endif %}
            {% if config.social.pinterest.length > 0 %}
              <span><a href="{{ config.social.pinterest }}" rel="nofollow noreferrer" target="_blank" aria-label="pinterest profile link"><span class="icon">{% pinterestLightIcon %}</span></a></span>
            {% endif %}
            {% if config.social.instagram.length > 0 %}
              <span><a href="{{ config.social.instagram }}" rel="nofollow noreferrer" target="_blank" aria-label="instagram profile link"><span class="icon">{% instagramLightIcon %}</span></a></span>
            {% endif %}
            {% if config.social.github.length > 0 %}
              <span><a href="{{ config.social.github }}" rel="nofollow noreferrer" target="_blank" aria-label="github profile link"><span class="icon">{% githubLightIcon %}</span></a></span>
            {% endif %}
          </p>
        </div>
        <div class="level-item">
          <speedlify-score speedlify-url="https://www.speedlify.dev/" url="{{ config.domain }}{{ page.url }}"></speedlify-score>
      </div>
    </div>
  </div>
</footer>
<dialog id="resourceForm">
  <form class="container" name="updateResource" netlify>
    <div class="columns">
      <div class="column is-12">
        <p class="title is-3">Let us know what needs updating</p>
        <p>
          We need to know somethings to make sure that our resources are properly maintained.<br/>
          Please add the name of the resource, what needs updating, the new information, and any sources.<br/>
          If you're wanting to add a new update, just say "new update" where we ask for the name!
        </p>
      </div>
      <div class="column is-4">
        <label>
          Which resource needs to be updated?
          <input name="name" type="text" />
        </label>
      </div>
      <div class="column is-4">
        <label>
          What is the update?
          <textarea name="what" />
        </label>
      </div>
      <div class="column is-4">
        <label>
          Please add your source!
          <input name="source" type="text" />
        </label>
      </div>
    </div>
  </form>
</dialog>
{% if config.showCookiesAdvice %}
  {% if config.googleAnalyticsID.length > 0 %}
    <script> var analyticsID = "{{ config.googleAnalyticsID }}"</script>
  {% endif %}
  {% include "cookies-advice.njk" %}
{% endif %}

<!-- Scripts -->
{% set js %}
  {% include "scripts.js" %}
{% endset %}
<script type="module">
  {{ js | jsmin | safe }}
</script>