---
title: Resources And Help
---

{% include "head.njk" %}

<body class="is-flex is-flex-direction-column">
  {% include "nav.njk" %}
  <header>
    <div class="container">
      <section class="section pb-0">
        <div class="columns">
          <div class="column">
            <h2 class="tilt title is-2 has-text-centered">Everyone deserves help.</h2>
            <p>
              Hey there, site maintainer here. Times are getting hard, and so I have decided to not maintain 
              this list anymore and am dropping the resourcesand.help url.
              If you are looking for help, the links below should all still work as I tried to only use links to resources that
              would stand the test of time. If you are looking to share this with someone, I would prefer that you not.</br>
              Best,<br/>
              ginger
            </p>
          </div>
        </div>
      </section>
    </div>
  </header>
  <main class="container">
    {{ content | safe }}
  </main>
  {% include "footer.njk" %}
</body>
</html>