---
title: Resources And Help
---

{% include "head.njk" %}

<body class="is-flex is-flex-direction-column">
  {% include "nav.njk" %}
  <header>
    <div class="container">
      <section class="section pb-0">
        <div class="columns">
          <div class="column">
            <h2 class="tilt title is-2 has-text-centered">Everyone deserves help.</h2>
          </div>
        </div>
      </section>
    </div>
  </header>
  <main class="container">
    {{ content | safe }}
  </main>
  {% include "footer.njk" %}
</body>
</html>