---
title: Once
---

{% include "head.njk" %}

<body class="is-flex is-flex-direction-column">
  {% include "nav.njk" %}
  <main class="container">
    {{ content | safe }}
  </main>
  {% include "footer.njk" %}
</body>
</html>