<nav id="main-navbar" class="navbar is-spaced has-shadow" role="navigation" aria-label="main navigation">
  <div class="container section-padding">
  
    <div class="navbar-brand is-flex-grow-1">
      <a role="button" class="navbar-burger ml-0" aria-label="menu" aria-expanded="false" data-target="mobile-navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
      <div class="logo">
        {{ config.logoUrl | svgContents | safe }}
      </div>
      <h1>
        <a class="navbar-item subtitle is-5 is-flex-grow-1 has-text-weight-bold" href="{{ config.url }}">
          <span class="pl-2" id="sitetitle">{{ config.title }}</span>
        </a>
      </h1>
      {% if config.search === true %}
        <div id="search-mobile" class="navbar-item is-hidden-desktop mr-3">
          <a role="button" aria-label="search" class="search-icon icon">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="24" height="24" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M16.325 14.899l5.38 5.38a1.008 1.008 0 0 1-1.427 1.426l-5.38-5.38a8 8 0 1 1 1.426-1.426zM10 16a6 6 0 1 0 0-12a6 6 0 0 0 0 12z" fill="#414141" fill-rule="evenodd"/></svg>
          </a>
        </div>
      {% endif %}
    </div>

    <div id="mobile-navbar" class="navbar-menu">

      {% if config.search === true or config.navbarButtons.length > 0 or config.navbarMenu.length > 0 %}
      <div class="navbar-end">

        {% for item in config.navbarMenu %}
            <a class="navbar-item navigation-item" href="{{item.url}}">{{item.anchor}}</a>
        {% endfor %}

        {% if config.navbarButtons.length > 0 %}
          <div class="navbar-item">
            <div class="buttons">
              {% for item in config.navbarButtons %}
                <a class="button {{item.class}}" href="{{item.url}}">{{item.anchor}}</a>
              {% endfor %}
            </div>
          </div>
        {% endif %}

        {% if config.search === true %}
          <div class="navbar-item is-hidden-touch">
            <a role="button" aria-label="search" class="search-icon icon">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="24" height="24" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M16.325 14.899l5.38 5.38a1.008 1.008 0 0 1-1.427 1.426l-5.38-5.38a8 8 0 1 1 1.426-1.426zM10 16a6 6 0 1 0 0-12a6 6 0 0 0 0 12z" fill="#414141" fill-rule="evenodd"/></svg>
            </a>
          </div>
        {% endif %}

      </div>
      {% endif %}


    </div>
  </div>
</nav>
