{% include "head.njk" %}

  <body class="is-flex is-flex-direction-column">

    {% include "nav.njk" %}
    <main class="container section-padding">
    <section class="section is-flex-grow-1">

      <div class="container articulo content">
        <div class="columns is-centered">
          <div class="column is-8">
          {{ content | safe }}
          {% include "credits.njk" %}
          <span>Web Performance Scores</span>
          {% set urlWithOrigin %}https://{{ config.domain }}/{% endset %}
          {% if speedlify[urlWithOrigin] and speedlify[urlWithOrigin].hash %}
          <speedlify-score speedlify-url="https://speedlichew.netlify.app/" hash="{{ speedlify[urlWithOrigin].hash }}"></speedlify-score>
          {% else %}
          <speedlify-score speedlify-url="https://speedlichew.netlify.app/" url="{{ urlWithOrigin }}"></speedlify-score>
          {% endif %}
          </div>
        </div>
      </div>

    </section>

    </main>
    {% include "footer.njk" %}
  </body>

</html>