{% include "head.njk" %}

  <body class="is-flex is-flex-direction-column">

    {% include "nav.njk" %}
    <main class="container">
    <section class="section is-flex-grow-1">

       {% topPostMinimalAd %}

      <div class="container articulo content">
        <div class="columns is-centered">
          <div class="column is-8">
          {{ content | safe }}
          </div>
        </div>
      </div>

    </section>

    </main>
    {% include "footer.njk" %}
  </body>

</html>