<div class="column is-12">
  <details>
    <summary class="title is-size-5 is-size-3-desktop">{{ resource.name }} - {{ resource.collection | length }}</summary>
    <ul class="columns align-items-stretch is-multiline resource-collection">
    {% for item in resource.collection %}
        <li class="column is-4-desktop is-12">
            <div class="p-4 is-flex is-flex-direction-column h-100 fw-500">
                <span class="subtitle is-5 is-flex-grow-1">{{ item.name }}</span>
                <span>{% if item.url %}<a href="{{ item.url }}" target="_blank"><span class="visually-hidden">Visit the {{ item.name }} </span>Website</a>{% endif %}
                {% if item.chat %} - <a href="{{ item.chat }}" target="_blank"><span class="visually-hidden">Access the {{ item.name }} </span>Chat Online</a>{% endif %}</span>
                {% if item.tel %}
                    <span class="is-flex is-align-items-center gap-1 pt-1 has-background-white">
                        <span class="icon">{{ "/src/_images/phone-icon.svg" | svgContents | safe }}</span>
                        Phone: <b>{{ item.tel }}</b>
                    </span>
                {% endif %}
                {% if item.sms %}
                    <span class="is-flex is-align-items-center gap-1 pt-1">
                        <span class="icon">{{ "/src/_images/text-bubble.svg" | svgContents | safe }}</span>
                        Text: <b>{{ item.sms }}</b>
                    </span>
                {% endif %}
                {% if item.instructions %}
                    <span class="pt-1">{{ item.instructions | replace('{sms}', item.sms)  }}</span>
                {% endif %}
                {% if item.language %}
                    <span class="pt-1">{{ item.language }}</span>
                {% endif %}
                <hr class="mb-mobile-0"/>
            </div>
        </li>
    {% endfor %}
    </ul>
  </details>
</div>