<div class="column is-12">
  <details>
    <summary class="title is-size-5 is-size-3-desktop">{{ resource.name }} - {{ resource.collection | length }}</summary>
    <ul class="columns align-items-stretch is-multiline resource-collection">
    {% for item in resource.collection %}
        <li class="column is-4-desktop is-12">
            <div class="p-4 is-flex is-flex-direction-column h-100">
                <span class="subtitle is-5 is-flex-grow-1">{{ item.name }}</span>
                <span>{% if item.url %}<a href="{{ item.url }}" target="_blank">Website</a>{% endif %}
                {% if item.chat %} - <a href="{{ item.chat }}" target="_blank">Chat Online</a>{% endif %}</span>
                {% if item.tel %}
                    <br />
                    <span>Phone: {{ item.tel }}</span>
                {% endif %}
                {% if item.sms %}
                    <br />
                    <span>Text: {{ item.sms }}</span>
                {% endif %}
                {% if item.instructions %}
                    <br />
                    <span>{{ item.instructions | replace('{sms}', item.sms)  }}</span>
                {% endif %}
                {% if item.language %}
                    <br />
                    <span>{{ item.language }}</span>
                {% endif %}

                <hr />
            </div>
        </li>
    {% endfor %}
    </ul>
  </details>
</div>