<div class="is-12 column">
  <blockquote class="p-3 has-background-info-light">
    <p class="title {% if resource.size < 3 %}has-text-weight-bold{% endif %} has-text-link-dark is-{{ resource.size }}">{{ resource.message }}</p>
  </blockquote>
</div>