---
title: Oops! Página no Encontrada
permalink: 404.html
layout: 404.njk
eleventyExcludeFromCollections: true
---


<div class="section">
  <div class="container">
    <div class="has-text-centered my-6">
      <h1 class="title is-1 is-spaced">Error #404</h1>
      <h2 class="subtitle is-4">Sorry for this, more than likely you've been linked to a page that doesn't exist anymore.</h2>
      <a href="/" class="button">Click here to go to the home page</a>
    </div>
  </div>
</div>