---
layout: index_layout.njk
title: Resources and Help
description: A collection of resources for LGBTQ+, Domestic Abuse, and Crisis and Suicide Prevention.
eleventyExcludeFromCollections: true
---

<section class="section is-flex-grow-1">
  <div class="container">

    <div class="columns is-variable is-5-desktop is-multiline is-mobile">
      {% for resource in resources %}
        {% if resource.type == "notice" %}
          {% include "resource-notice.njk" %}
        {% elif resource.type == "collection" %}
          {% include "resource-collection.njk" %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>