---
layout: index_layout.njk
title: Resources and Help
description: A collection of resources for LGBTQ+, Domestic Abuse, and Crisis and Suicide Prevention.
eleventyExcludeFromCollections: true
---

<section class="section">
  <div class="columns is-multiline is-mobile">
    <div class="is-narrow column">
      <blockquote class="p-3 has-background-info-light">
        <p class="title has-text-link-dark is-5">A list of all the sources used can be found at <a href="/sources/">here.</a></p>
      </blockquote>
    </div>
    {% for resource in resources %}
      {% if resource.type == "notice" %}
        {% include "resource-notice.njk" %}
      {% elif resource.type == "collection" %}
        {% include "resource-collection.njk" %}
      {% endif %}
    {% endfor %}
  </div>
</section>