---
permalink: theme.css
eleventyExcludeFromCollections: true
---
{% set css %}
  {% include "./_css/speedlify.css" %}
  {% include "./_css/bulma.css" %}
  {% include "_custom.css" %}
{% endset %}
{{ css | cssmin | safe }}
